@media only screen and (max-width: 600px) {
  :root { --app-width: 350px; }
}
@media only screen and (min-width: 600px) {
  :root { --app-width: 400px }
}
@media only screen and (min-width: 768px) {
  /* :root { --app-width: 500px; } */
}
@media only screen and (min-width: 992px) {
  /* :root { --app-width: 600px; } */
}
@media only screen and (min-width: 1200px) {
  /* :root { --app-width: 500px; } */
}
