@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.spinner-icon {
  display: inline-block;
  border: 1vmin solid #fff;
  border-top: 1vmin solid var(--light-accent-color);
  border-radius: 50%;
  width: 5vmin;
  height: 5vmin;
  animation: spin 1s linear infinite;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1vmin;
}
