body {
  background-color: #c0c0c0;
}

.chess-container {
  margin: 0 auto;
  width: calc(80vmin + 16px);
}

.chess-loading {
  cursor: progress;
}

.chess-board {
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(8, 10vmin);
  grid-template-columns: repeat(8, 10vmin);
}

.chess-board-square {
  min-width: 0;
}
