:root {
  --app-width: 88vmin;
  --square-width: calc(var(--app-width) / 8);
  --light-accent-color: rgba(214,197,138, 0.7);
  --dark-accent-color: rgba(161,132,88, 0.7);
}

html {
  height: 100%;
  background-color: #38FED2;
  background-position: left bottom;
  background-size: auto 100%;
  background-image: url(/underwater.png);
  background-repeat: repeat-x;
}

.chess-container {
  margin: 0 auto;
  width: calc(var(--app-width) + 16px);
  position: relative;
}

.chess-board {
  display: grid;
  grid-template-rows: repeat(8, var(--square-width));
  grid-template-columns: repeat(8, var(--square-width));
}

.chess-board-square {
  background-color: var(--light-accent-color)
}

.chess-board-square--dark {
  background-color: var(--dark-accent-color);
}

.chess-board-square--targeted, .chess-board-square--active {
  background-color: rgba(181,254,182, 0.7) !important;
}

.chess-board-square--active {
  border-style: inset;
  border-width: 2px;
}

.chess-board-square:focus,
.chess-board-square:active {
  position: relative;
  z-index: 2;
}

.chess-board-piece {
  font-size: calc(var(--square-width) * 0.6);
  color: white;
}

.chess-board-piece--black {
  color: black;
}

.chess-board-piece--selected {
  background-color: rgba(41,253,46, 0.7) !important;
}
